doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index,follow")
    meta(name="viewport", content="initial-scale=1.0")
    title HACC
    link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans+Condensed:300", rel="stylesheet")
    style.
      html, body {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: 'Open Sans Condensed', sans-serif;
      }
      * {
        position: relative;
        box-sizing: border-box;
      }
  body
    div#app

    script(src="https://cdn.jsdelivr.net/bluebird/latest/bluebird.min.js")
    script(src="js/app.js")
